:root{
    --primary-font: 'Roboto', sans-serif;
    --fancy-font: 'Playfair Display', serif;
}

body{
    font-family: var(--primary-font);
}

/*       Header and Navigation Styling */
.stamp{
    flex: 2;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.main-container{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    
}


h1,
h3{
    font-family: var(--fancy-font);
}


.main-content{
    display: flex;
    flex-direction: column;
}

.pop-color{
    color: rgb(230, 57, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find-out{
    display: flex;
    justify-content: center;
}



.block{
    color: rgb(230, 57, 70);
}

.pop-color > h1{
    font-weight: bold;
}

form{
    display:flex;
    flex-direction: column;
    width: 50vw;
}

#submit{
    background-color: rgb(230, 57, 70);
    color: white;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1.2rem;
}

/*  Hamburger Styling */

.hidden{
    display: none;
}

.head{
    display: flex;
    padding: .5rem 1rem;
    height: 5vh;
}

.head > *{
    width: 50%;
}

#menu{
    width: 100vw;
    height: 94vh;
    margin-top: 1vh;;
    padding: 2rem;
    list-style-type: none;
    background-color: rgb(230, 57, 70);
    color: white;
    line-height: 3.3rem;
}

a{
    color: rgb(241, 250, 238);
    text-decoration: dotted;
}

a:hover{
    color: rgb(29, 53, 87)
}

a:visted{
    color: rgb(168, 218, 220)
}